
.vs/GeneratorManagementSyestem/v14/.suo
.vs/GeneratorManagementSyestem/v14/.suo
GeneratorManagementSyestem/bin/Debug/GeneratorManagementSyestem.exe
GeneratorManagementSyestem/bin/Debug/GeneratorManagementSyestem.pdb
GeneratorManagementSyestem/obj/Debug/GeneratorManagementSyestem.csproj.FileListAbsolute.txt
GeneratorManagementSyestem/obj/Debug/GeneratorManagementSyestem.csproj.GenerateResource.Cache
GeneratorManagementSyestem/obj/Debug/GeneratorManagementSyestem.exe
GeneratorManagementSyestem/obj/Debug/GeneratorManagementSyestem.pdb
GeneratorManagementSyestem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GeneratorManagementSyestem/obj/Debug/GeneratorManagementSyestem.csproj.FileListAbsolute.txt
*.exe
*.pdb
.vs/GeneratorManagementSyestem/v14/.suo
